#a {
    font-size: 40px;
    background: #228b22;
}

#b {
    font-size: 20px;
    background: #00008b;
}

#c {
    font-size: 30px;
    background: #ff0000;
}

.memoirs {
    color: #ffffff;
}
#e {
    font-size: 20px;
    background:#ffd700;
    color: #008000;


}
